body {
background-color: #f8f9fa;
}
.flex-container {
    display: flex;
    flex-direction: column;
}

.form-container {
    justify-content: center;
    
}

.flex-container.form-container {
    flex-direction: row;
}

.border {
    border: 1px solid black;
}

.container {
    height: 100vh;
}

.custom-form {
    margin: 30px;
    padding: 45px;
    align-content: center;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    /* box-shadow: 3px 4px 12px 0px rgba(0,0,0,0.75); */
    border-radius: 10px;
    width: 50%;
    height: 75%;    
}
.custom-form > :nth-last-child(1) {
    width: 100%;
    margin: auto;
}

.logo {
    border-radius: 50%!important;
    outline: 6px inset rgba(28,110,164,0.48);
    outline-offset: 6px;
    /* box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75); */
}


.form-group button.login {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.form-group.flex-container {
    flex-direction: row;
}

.form-group.flex-container > :nth-child(1n){
    width: 50%;
}

.custom-gradient {
    /* background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%); */
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);}

@media only screen and (max-width: 1050px) {
    .custom-form {
        width: 650px;
    }
}
@media only screen and (max-width: 800px)  and (min-width: 426px){
    .custom-form {
     height: auto;
     overflow: hidden;
     width: 100%;
    }
  }
@media only screen and (max-width: 425px) {
    .custom-form {
        height: 100%;
        width: 100%;
    }
}
@media only screen and (max-width: 375px) {
    .logo {
        border-radius: 0!important;
        height: 200px;
        width: 200px;
    }
}